.stat-icon {
  width: 65px;
  height: 65px;
  margin: 0 auto 14px;

  display: grid;
  place-items: center;

  border-radius: 999px;
  background: var(--stat-icon-bg);
  border: 1px solid var(--stat-icon-border);
  color: var(--stat-icon-color);
}

.stat-number {
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: var(--stat-number);
  margin-bottom: 15px;
}

.stat-label {
  font-size: 15px;
  letter-spacing: 0.4px;
  color: var(--stat-label);
}